<html>
<head>
  <title>Cool Name</title>
  <style>
    div.cool {{
    font-size: 2em;
    font-weight: bold;
    }}
    body {{
    background: #DDEEDD;
    margin: 1em;
    padding: 2em;
    border-style: solid;
    border-width: thin;
    border-color: black;
    }}
  </style>

</head>

<body>
  {(when header
      (render-header header))}

  <div class="cool">
    {body!s}
  </div>

  {(when footer
      (render-footer footer))}
<body>

</html>
